<div class="text-layout">
  <h1>{{ "pipes" | uppercase }}</h1>

  <h2>{{ nombre | titlecase }}</h2>

  <h2>{{ numero | number }}</h2>

  <h2>{{ obj | json }}</h2>

  <button
    pButton
    (click)="cambiarNombre()"
    icon="pi pi-bell"
    iconPos="right"
    class="p-button-help"
    label="Cambiar Nombre"
  >
    Cambiar nombre
  </button>

  <p-card [header]="nombre | titlecase">
    <ng-template pTemplate="subtitle"> Esto es un subtitulo </ng-template>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis molestiae
    autem dolorem dolor incidunt exercitationem eligendi consectetur assumenda
    atque sit ut, asperiores dolorum commodi, quasi adipisci deserunt natus
    soluta facilis!

    <ng-template pTemplate="footer"> esto es el footer </ng-template>
  </p-card>
</div>
